:root {
    --transition-speed: 0.3s;
}

[data-tema='light']{
  --primary-color: rgb(90, 110, 140);
  --background-color: rgb(255, 255, 255);
  --page-background-color: rgb(245, 245, 245);
  --text-color: rgb(0, 0, 0);
  --page-shadow: rgb(0, 0, 0);
  --course-background: rgb(255, 255, 255);
  --course-hover-shadow:rgb(0, 0, 0);
  --button-text-color: rgb(0, 0, 0);
  --link-color: rgb(0, 75, 190);
}

[data-tema='dark'] {
  --primary-color: rgb(90, 110, 140);
  --background-color: rgb(55, 55, 55);
  --page-background-color: rgb(75, 75, 75);
  --text-color: rgb(255, 255, 255);
  --page-shadow: rgb(200, 200, 200);
  --course-background: rgb(255, 255, 255);
  --course-hover-shadow:rgb(80, 80, 80);
  --button-text-color: rgb(255, 255, 255);
  --link-color: rgb(115, 222, 255);
}